@font-face {
  font-family: "Inter Variable";
  src: url("./fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* color */
  --clr-grey-900: hsl(0, 0%, 8%);
  --clr-grey-800: hsl(0, 0%, 12%);
  --clr-grey-700: hsl(0, 0%, 20%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-green: hsl(75, 94%, 57%);

  /* font-family */
  --ff-base: "Inter Variable", sans-serif;

  /* font-weight */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* font-size */
  --fs-large: 1.5rem; /* 24px */
  --fs-medium: 1rem; /* 16px */
  --fs-small: 0.875rem; /* 14px */

  /* spacing */
  --sp-500: 2.5rem;
  --sp-400: 2rem;
  --sp-300: 1.5rem; /* 24px */
  --sp-150: 0.75rem; /* 12px */
  --sp-100: 0.5rem; /* 8px */
  --sp-50: 0.25rem; /* 4px */

  --card-max-width: 24rem;
  --card-border-radius: 1.25rem;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;

  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  /* For whole page */
  font-family: var(--ff-base);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  padding-inline: var(--sp-300);
  background-color: var(--clr-grey-900);
}

.card {
  max-width: var(--card-max-width);
  border-radius: var(--card-border-radius);
  background-color: var(--clr-grey-800);
  padding: var(--sp-500);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-avatar {
  height: 5.625rem;
  width: 5.625rem;
  border-radius: 50%;
}

.card-heading {
  color: var(--clr-white);
}

.card-address {
  color: var(--clr-green);
  font-style: normal;
}

.card-quote {
  color: var(--clr-white);
}

.card-nav {
}

.card-nav-link {
  background-color: var(--clr-grey-700);
  color: var(--clr-white);
}
